*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    width: 100vw;
}

.container{
    height: 60%;
    width: 30%;
    border: 2px solid black;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    /* background:linear-gradient(rgb(204, 73, 73),rgb(93, 93, 224)); */
    /* background-color: blanchedalmond; */
    color:black;
}

.main{
    /* border: 1px solid black; */
    /* margin: px; */
    padding: 40px;
}

h1{
    text-align: center;
    font-size: 2.5rem;
    margin-top: 5px;
}

.name{
    margin: 10px;
}

.mobile{
    margin: 10px;
}
.gender{
    margin: 10px;
}
.name label{
    margin-left: 10px;
    margin-bottom:10px ;
     font-weight: bold;
}

.mobile label{
    margin-left: 10px;
    margin-bottom:10px ;
     font-weight: bold;
}



.name input{
    margin-left: 10px ;
    margin-bottom: 10px;
    padding: 5px;
    width: 60%;
    font-weight: bold;
}
.mobile input{
    margin-left: 45px ;
    margin-bottom: 10px;
    padding: 5px;
    width: 60%;
     font-weight: bold;
}


.gender .male{
    margin-left: 40px;
    /* margin-right: 10px; */
    margin-bottom: 10px;
     font-weight: bold;
}
.gender .female{
    margin-left: 20px;
     font-weight: bold;
}
.gender1{
    margin-right: 10px;
    margin-left: 10px;
     font-weight: bold;
}

.consent{
    margin-left: 20px;
    margin-bottom: 10px;
     font-weight: bold;
}
.consent #consent{
    padding: 5px;
     font-weight: bold;
     margin: 10px;
     /* height: 20px;
     width: 20px; */
}

.city{
    margin-left: 10px;
    size: 50px;
    margin-bottom: 10px;
    font-weight: bold;
}

.city #city{
    height: 30px;
    width: 95%;
    margin: 10px;
    padding: 5px;
     font-weight: bold;
}

.btn{
    display: flex;
    justify-content: center;
     /* font-weight: bold; */
}

.btn .button{
    margin: 10px ;
    margin-left:30px ;
    padding: 5px;
    background-color: rgb(18, 10, 231);
    color: white;
    border-radius: 5px;
     font-weight: bold;
     width: 100%;
}