*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer-div{
    height: 160px;
    border: 2px solid black;
    margin: 10px auto;
    padding: 20px;
}

.inner-div{
    height: 100px;
    /* width: 80%; */
    border: 2px solid black;
    margin:  10px auto;
    padding: 20px;
}

h1{
    border: 2px solid black;
    /* padding: 5px; */
    margin: 10px;


}