*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    padding: 120px;
}

.container .box{
    height: 40px;
    width: 40px;
    margin-bottom: 50px;
    background-color: aquamarine;
}
body:hover .box{
    width: 500px;
    background-color: red;
}

.transition{
    /* transition-property: width;
    transition-duration: 2s; */
    /* transition-delay: 1s; */
    /* transition-timing-function: ease-in-out; */
     transition: width 2s 1s ease-in,
                  background-color 2s 1s ease-in-out;  /*short hand */

}

.linear{
    transition-timing-function: linear;

}

.ease-in{
    transition-timing-function: ease-in;

}

.ease.out{
    transition-timing-function: ease-out;

}

.ease-in-out{
    transition-timing-function: ease-in-out;

}

.step-end{
    transition-timing-function: step-end;

}
.step-start{
    transition-timing-function: step-start;

}
.steps{
    transition-timing-function: steps(3);

}