*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    width: 100px;
    height: 100px;
    background: tomato;
    transition: 0.4s;
}

.box:hover{
    transform: translateX(50px);
    transform: scale(1.2);
    transform: rotate(30deg);
}