*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    height: 100vh;
    width: 100vw;
    border: 2px solid red;
    display: grid;
    grid-template-rows:1fr 8fr 2fr;
}

.navbar{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: aqua;
    justify-content: space-around;
}

.nav-items{
    display:flex;
    flex-direction: row;
    justify-content: space-around;
}

.nav-items ul{
    list-style: none;
}

.main{
    display: flex;
    justify-content: center;
    margin: 10px ;
    padding: 20px;
    background-color: azure;
    border: 2px solid rgb(81, 0, 255);
    /* height: 100%; */
}
.main-div{
    border: 2px solid yellow;
    display: flex;
}
img{
    height: 100%;
    width: 60%;
    border-radius: 20px;
    object-fit: cover;
    padding-left: 200px;
}


.footer{
    display: flex;
    justify-content: space-around;
    background-color: black;
    color: white;
}