*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header .navbar{
    border: 1px solid black;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(4, 20%);
    background-color: aqua;
}
.navbar .heading{
    grid-column-start: 1;
    grid-column-end: 2;
}
 .navbar .list{
    grid-column-start: 2;
    grid-column-end: 3;
}

.navbar .list 
.list-items{
    display: flex;
    justify-content: space-between;
}


.main{
    border: 2px solid red;
    display: grid;
    justify-content: center;
    grid-template-columns: 50% 50%;
    background-color: azure;
    height: 50vh;
    width: 90vw;
    margin: 20px 50px;
}

.footer-div{
    /* border: 2px solid green; */
    display: grid;
    grid-template-columns: repeat(5,20%);
    background-color: black;
    margin-top: 30px;
    color: white;
   
}

.footer-div .about-us{
    grid-column-start: 1;
    grid-column-end: 2; 
    padding: 20px;
}

.footer-div .links{
    grid-column-start: 2;
    grid-column-end: 3;
    padding: 20px;
}

.footer-div .contact{
    grid-column-start: 3;
    grid-column-end: 4;
    padding: 20px;
}

.footer-div .follow-us{
    grid-column-start: 4;
    grid-column-end: 5;
    padding: 20px;
    
}
ul{
    list-style: none;
}

.main .image img{
    height: 100%;
    width: 70%;
    object-fit: cover;
    justify-content: center;
}


