*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 100px 0 50px 0;
}

.question-title {
  margin: 0 10%;
  text-align: center;
  font-size: 1.5rem;
  background: linear-gradient(red, blue);
  color: white;
  border: 3px solid orange;
  border-radius: 10px;
  padding: 20px 10%;
}

.options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
}

.options button {
  width: 30%;
  text-align: center;
  font-size: 1.5rem;
  background: linear-gradient(grey, white);
  color: black;
  border: 3px solid grey;
  border-radius: 10px;
  padding: 20px 10%;
  margin: 10px 0;
}

.options button:last-of-type {
  width: 10%;
  margin-top: 30px;
  margin-right: 0;
  margin-left: 20%;
  padding: 20px 40px;
  border-color: transparent;
  background: linear-gradient(lightgreen, white);
}

.score {
  display: none;
}