*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
    color: white;
    width: 100vw;
    height: 100vh;
}

.container{
    display: grid;
    grid-template-columns: 1fr 4fr ;
    width: 100vw;
    height: 100vh;
}

.navbar{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    border-right: 1px solid white;
    padding: 20px;
    gap: 20px;
}

.navbar a{
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    padding-bottom:  2px;
    margin-bottom: 5px;
    width: 100%;
    font-size: 1rem;
}

.content{
    display: grid;
    grid-template-rows: 1fr 10fr 1.5fr;
}

.title{
    /* background-color: rgba(245, 37, 245, 0.708); */
    font-size: 2em;
    /* text-align: center; --> we can also text center use margin all sides */ 
    margin: 10px auto;
   /*  padding-top: 15px;
    padding-left: 5px; */
    font-weight: 900;
}

.suggestions{
   /*  background-color: rgb(236, 157, 55); */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center;   
    gap: 20px;
}

.suggestion{
    border: 1px solid white;
    padding: 5px;
    height: 100px;
    width: 300px;
    display: grid;
    place-items: center;
    cursor: pointer; 
   /*  overflow: auto; --> for scroll*/

}

#setting{
    position: fixed;
    text-align: left;
    bottom: 20px;
    left: 20px;
    width: calc(20% - 40px);

}

.chat{
 /*    background-color: olive; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.chat .text{
    width: 50%;
    padding: 10px;
    border-radius: 8px;
}

.chat .btn{
    padding: 10px 20px;
    background-color: inherit;
    border: 1px solid white;
    color: white;
    border-radius: 5px;
    cursor: pointer;
}

