*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 100px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1{
    margin: 10px;
    font-size: 2rem;
    text-align: center;
    color: darkred;

}
.input-box{
    /* border: 1px solid black; */
    margin: 10px;
    padding: 10px;
}

.input-box input{
    padding: 10px;
    margin: 2px 15px;
    width: 500px;
    border-radius: 10px;
    font-size: 1rem;
}

.input-box button{
    padding: 10px;
    width: 70px;
    border-radius: 10px;
    background-color: darkgray;
    color: black;
    font-size: 1rem;
}
.todo-buttons button{
    padding: 5px;
    margin: 10px;
    width: 70px;
}