body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    border: 1px solid rgba(0, 5, 200, 1);
    background-color: aquamarine;
    color: darkred;
}

.main{
    width: 100vw;
    height: 100vh;
    display: grid;
    border: 1px solid rgb(7, 6, 6);
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.red{
    background-color: red;
    grid-column-start: 1;
    grid-column-end: 4;
}

.blue{
    background-color: blue;
    grid-column-start: 1;
    grid-column-end: 1;
}

.yellow{
    background-color: yellow;
}

.pink{
    background-color: pink;
}