*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

div{
    text-align: center;
}

div > div{
    background-color: yellow;
    display: inline-block;
    height: 400px;
    width: 300px;
}

.linear div:nth-of-type(1){
    background: linear-gradient(red ,green , blue);
}

.linear div:nth-of-type(2){
    background: linear-gradient(to right,red ,green , blue);
}

.linear div:nth-of-type(3){
    background: linear-gradient(120deg,red ,green , blue);
}

.radial div:nth-of-type(1){
    background: radial-gradient(red ,green , blue);
}

.radial div:nth-of-type(2){
    background: radial-gradient(closest-side,red ,green , blue);
}

.radial div:nth-of-type(3){
    background: radial-gradient(farthest-side,red ,green , blue);
}

.conic div:nth-of-type(1){
    background: conic-gradient(red ,green , blue);
}

.conic div:nth-of-type(2){
    background: conic-gradient(red ,green , blue);
}

.conic div:nth-of-type(3){
    background: conic-gradient(red,orange,green,yellow,blue);
}