*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body{
    background-color: rgb(50, 6, 55);
} */

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 1280px;
    padding: 120px;
    margin: 50px auto;
    border: 20px solid rgb(50, 6, 55);
    border-radius: 20px;
    background-color: #fff;
    
}

.image{
    margin:0px auto ;
}

.heading{
    margin:0px auto ;
    text-align: center;

}
h1{
    font-size:3rem;
    font-weight: bold;
}

.heading p{
    font-size: 1.5rem;
    margin: 5px;
    color: gray;
}
.form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 60%;
    background-color:#fff;  
    margin: 20px auto; 
    padding: 20px;
    box-shadow:  0px 20px 30px 0px rgba(0, 0, 0, 0.03), 0px 8px 12px 0px rgba(0, 0, 0, 0.08);
    border-radius: 10px;

}
.form form{
    margin: 10px auto;
}
 input{
    width: 500px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
    text-align: center;
    font-size: 1rem;
    border:1px solid rgb(123, 123, 123);
    
}

.btn button{
    width: 500px;
    padding: 10px;
    margin: 10px ;
    background-color: rgb(15, 15, 230);
    color: white;
    font-size: 1rem;
    border-radius: 10px;
    border: none;
}

p{
    text-align: center;
}

