*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: lightblue;
     /* width: 1200px;
    height: 700px; */
}

.container{
   max-width: 1280px;
  width: 90%;
  min-height: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px auto;
    background-color: #fff;
    border:10px solid rgb(63, 6, 69);
    border-radius: 10px;
}

.heading{
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 50px auto;
    font-size: 1.5rem;
    
}

.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* flex-wrap: wrap; */
    gap: 20px;
    width: 80%;
    height: 100%;
    /* background-color: aqua; */
    margin: 10px auto;
    padding-bottom: 50px;
}
.first{
   
    display: flex;
    justify-content: center;
    gap: 50px;
    /* background-color: red; */
}

.second{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
    /* background-color: bisque; */
}

.third{
   
    display: flex;
    justify-content: center;
    gap: 50px;
    /* background-color: lightcoral; */
    margin-left: 100px;
}


.img img{
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 5px ;
}
 

.para{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: normal;
}

p{
    line-height: 50px;
}

@media (max-width: 992px) {
  .container{
    flex-direction: column;
    /* text-align: center; */
  }
}